<!-- -PHCDev- Page Container - Footer - Left -->
<span>
    <!-- -PHCDev- Page Container - Footer - Left - Copyright -->
    <i class="fab fa-osi font-weight-bolder"></i> 2012-<%= Time.now.year %> -
    <span class="font-weight-bold">PHC</span>Devworks Accounts - Engine v<%= Gem.loaded_specs["phcdevworks_accounts"].version.to_s %>
    <!-- -PHCDev- Page Container - Footer - Left - Copyright -->
</span>
<!-- -PHCDev- Page Container - Footer - Left -->

<!-- -PHCDev- Page Container - Footer - Right -->
<span class="float-right">
    <!-- -PHCDev- Page Container - Footer - Right - Developed -->
    Developed with <i class="fas fa-heart hanna_hearts"></i> by
    <a class="phcnet_copyright text-dark" href="https://phcdevworks.com/"><u><span class="font-weight-bold">PHC</span>Devworks</u></a>
    <!-- -PHCDev- Page Container - Footer - Right - Developed -->
</span>
<!-- -PHCDev- Page Container - Footer - Right -->
