<!-- Footer Content - Left -->
<span>
  <!-- Footer Content - Left - Time in Production -->
  <i class="fab fa-osi"></i> 2012-<%= Time.now.year %> -
  <strong>PHC</strong>Accounts(Pro) -
  Engine v<%= Gem.loaded_specs["phcdevworks_accounts"].version.to_s %>
  <!-- Footer Content - Left - Time in Production -->
</span>
<!-- Footer Content - Left -->

<!-- Footer Content - Right -->
<span class="float-right">
  Developed with <i class="fas fa-heart hanna_hearts"></i> by
  <a class="phcnet_copyright" href="https://phcdevworks.com/"><strong>PHC</strong>Devworks</a>
</span>
<!-- Footer Content - Right -->
