<!-- -PHC- Footer Content - Left -->
<span>
    <!-- -PHC- Footer Content - Left - Time in Production -->
    <i class="fab fa-osi font-weight-bolder"></i> 2012-<%= Time.now.year %> -
    <span class="font-weight-bold">PHC</span>Devworks Accounts - Engine v<%= Gem.loaded_specs["phcdevworks_accounts"].version.to_s %>
    <!-- -PHC- Footer Content - Left - Time in Production -->
</span>
<!-- -PHC- Footer Content - Left -->

<!-- -PHC- Footer Content - Right -->
<span class="float-right">
    Developed with <i class="fas fa-heart hanna_hearts"></i> by
    <a class="phcnet_copyright text-dark" href="https://phcdevworks.com/"><u><span class="font-weight-bold">PHC</span>Devworks</u></a>
</span>
<!-- -PHC- Footer Content - Right -->
