<span class="float-left">
  2012-<%= Time.now.year %> -
  <strong>PHC</strong>Accounts(Pro) -
  Engine v<%= Gem.loaded_specs["phcdevworks_accounts"].version.to_s %>
</span>
<span class="float-right">
  Developed with <i class="fas fa-heart hanna_hearts"></i> by
  <a class="phcnet_copyright" href="https://phcdevworks.com/"><strong>PHC</strong>Devworks</a>
</span>
