<!-- -PHCDEV- Page Container - Footer - Left -->
<span>
    <!-- -PHCDEV- Page Container - Footer - Left - Copyright -->
    <i class="fab fa-osi font-weight-bolder"></i> 2012-<%= Time.now.year %> -
    <span class="phc_dev_strong_plugin">PHC</span><span class="phc_dev_light_plugin">Devworks</span> Accounts (Devise) - Engine v<%= Gem.loaded_specs["phcdevworks_accounts_devise"].version.to_s %>
    <!-- -PHCDEV- Page Container - Footer - Left - Copyright -->
</span>
<!-- -PHCDEV- Page Container - Footer - Left -->

<!-- -PHCDEV- Page Container - Footer - Right -->
<span class="float-right">
    <!-- -PHCDEV- Page Container - Footer - Right - Developed -->
    Developed with <i class="fas fa-heart hanna_hearts"></i> by
    <a class="phcnet_copyright text-dark" href="https://phcdevworks.com/"><u><span class="phc_dev_strong_plugin">PHC</span><span class="phc_dev_light_plugin">Devworks</span></u></a>
    <!-- -PHCDEV- Page Container - Footer - Right - Developed -->
</span>
<!-- -PHCDEV- Page Container - Footer - Right -->
